@layer theme, base, antd, antd-pro, components, utilities;

@import url("tailwindcss/theme.css") layer(theme);
@import url("tailwindcss/preflight.css") layer(base);
@import url("tailwindcss/utilities.css") layer(utilities);

@plugin "@tailwindcss/typography";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1600px;
}
